@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Tenor+Sans:regular);

:root {
	--sand: #EEEAE7;
	--green: #7C8E74;
	--black: #424242;
	--white: #ffffff;

	--ff-rubrik: tenor sans;
	--ff-bodytext: lora;
}

.container{
	width: 70%;
}

h1 {
	font-family: var(--ff-rubrik);
	color: var(--black);
	margin-top: 30px;
    text-decoration: none;
}

h1 a{
    color: var(--black);
    text-decoration: none;
}

h1 a:hover{
    color: var(--black);
}

.center{
	text-align: center;
}

#products-tbl { 
	border-collapse: collapse; 
	width: 100%;
	margin-bottom: 40px;
}

#products-tbl tr,
#products-tbl td,
#products-tbl th {
	border: 1px solid var(--black);
	padding: 10px;
	color: var(--black);
}

#products-tbl thead{
	font-family: var(--ff-rubrik);
	background-color: var(--sand);	
	text-align: center;
	height: 60px;
}

#products-tbl td{
	font-family: var(--ff-bodytext);
	text-align: center;
	width: 130px;
}

#products-tbl img{
	width: 100px;
}

#products-tbl td:nth-child(3){
	text-align: left;
	padding-left: 50px;
	width: 350px;
}	

#products-tbl td:last-child {
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
	justify-content: center;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}	

#search-form{
	width: 50%;
	min-width: 400px;
}


input[type=submit], 
#add-product-btn,
#submit-search{
	font-family: var(--ff-rubrik);
	background-color: var(--green);
	min-width: 100px;
	padding: 10px 0px;
	border: none;
	border-radius: 5px;
	color: var(--white);	
}


.form-control:focus{
    box-shadow: 0 0 0 0.25rem #7c8e7490;
    border-color: var(--green)
}

input[type=submit][value="Delete"] {
	background-color: #D16D6D;
}

input[type=submit][value="Delete"]:hover {
	background-color: #D16D6D;
    box-shadow: 0px 0px 0px 4px #d16d6d92;

}

#add-product-btn{
	text-decoration: none;
	padding: 12px 20px;
}

#add-product-btn:hover,
#submit-search:hover, 
input[type=submit]:hover {
	background-color: var(--green);
	color: var(--white);	
    box-shadow: 0px 0px 0px 4px #7c8e748d;
}

#search-and-add-div{
	display: flex;
	margin-top: 30px;
	margin-bottom: 20px;
    justify-content: space-between;
}

.cancel-btn{
	background-color: var(--white);
	color: var(--green);
	border: 2px solid var(--green);
	padding: 10px 0px;
	border-radius: 5px;
	margin-bottom: 50px;	
}

.cancel-btn:hover{ 
	background-color: var(--white);
	color: var(--green);
	border: 2px solid var(--green);
    box-shadow: 0px 0px 0px 4px #7c8e748d;
}

.input-form{
	margin: 0 auto;
	width: 60%;
	min-width: 750px;
}

.product-img-form {
	display: block;
	margin: 0 auto;
	max-height: 270px;
}

.messages-div{
	width: 750px;
	margin: 0px auto 30px auto;
}

.messages-div ul{
	margin-bottom: 0px;
}

.form-background {
	padding: 35px 0px 20px 0px;
	background-color: var(--sand);
}
