@import "general.css";

/* new user form */
.rubrik{
    font-family: var(--ff-rubrik);
    color: var(--black);
    font-size: var(--fs-underrubrik);
    margin-bottom: 30px;
    margin-top: 40px;
    width: 70%;
}
.new-user-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px;
}
.new-user-wrapper{
    width: 70%;
}
#add-user-form{
    background-color: var(--sand);
    padding: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#field-wrapper{
    width: 48.5%;
}
.inputfield{
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 18px;
    border: none;
    font-family: var(--ff-rubrik);
    margin-top: 5px;
}
label{
    font-family: var(--ff-rubrik);
    color: var(--black);
}
.long{
    width: 100%;
}

/* Manage users table */
.manage-users-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px 100px 0px;
}
table{
    width: 70%;
    border-radius: 3px;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid var(--black);
}
thead{
    text-transform: uppercase; 
    font-family: var(--ff-rubrik);
    color: var(--black);
    background-color: var(--sand);
    height: 40px;
}
th{
    padding: 20px;
}
td{
    height: 100px;
    text-align: center;
    font-family: var(--ff-bodytext);
    color: rgb(92, 92, 92);
    padding: 15px;
    border: 1px solid var(--black);
    line-height: 25px;
    font-size: 14px;
}

/* Buttons and Messages */
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.update-buttons{
    margin-top: 40px;
}
.add-user-btn, .return-btn{
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    color: var(--sand);
    font-family: var(--ff-rubrik);
    font-size: var(--fs-bodytext);
    width: 200px;
    height: 45px;
}
.return-btn{
    background-color: var(--sand);
    border: 2px solid var(--green);
    color: var(--green);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.update-btn, .delete-btn{
    width: 110px;
    height: 40px;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    color: var(--sand);
    font-family: var(--ff-rubrik);
    font-size: var(--fs-bodytext-mobile);
    margin-bottom: 10px;
}
.delete-btn{
    background-color: #D16D6D;
    margin-bottom: 0px;
}

/* error messages */
.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
.success {
    background-color: #d4edda;
    color: #155724;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
.error:empty, .success:empty {
    display: none;
}

