@import "general.css";

header{
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--sand);
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    text-decoration: none;
    text-align: center;
}

.link {
    font-family:var(--ff-rubrik) ;
    font-weight: 200;
    font-size: var(--fs-bodytext);
    color: var(--black);
}

#products-link,
#admin-link {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}

#products-link:hover,
#admin-link:hover {
    border-bottom: solid 2px var(--black);
}

.marked {
    border-bottom: solid 2px var(--black) !important;
}

.dropdown-nav {
    float: left;
    overflow: hidden;
    margin-left: 30px;
}

.dropdown-nav-content {
    display: none;
    position: absolute;
    background-color: var(--sand);
    padding: 5px;
    padding-left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed !important;
    top: auto !important;
}

.dropdown-nav:hover #admin-link {
    border-bottom: solid 2px var(--black);
}

.manage-links:hover {
    background:rgba(255,255,255, 0.4);
    text-decoration: none;
}

.dropdown-nav-content a {
    float: none;
    display: block;
    text-align: left;
    color: inherit;
}

.dropdown-nav:hover .dropdown-nav-content {
    display: block;
}

#admin-link:focus {
    outline: none;
}

button {
    border: none;
    background-color: var(--sand);
}

.logo{
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 10px;
    margin: auto auto;
    width: 160px; 
}

#my-page-icon {
    margin-top: 5px;
}

#shoppingcart {
    cursor: pointer;
    margin-left: 20px;
}

/* cart styling */
.dropdown {
    display: inline-block;
}

.dropdown-menu {
    min-width: 400px;
    font-family: var(--ff-bodytext);
}

.cart-detail {
    margin: 15px 20px;
}

.cart-detail-product {
    margin-left: 20px;
}

.cart-detail-product > p {
    font-family: var(--ff-rubrik);
    font-size: 16px;

    margin: 0;
}

.cart-price {
    color: var(--green);
}

.cart-quantity {
    margin-left: 20px;
}

.total-section {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px -10px;
}

.checkout {
    margin: 10px;
}

.btn-checkout {
    width: 75%;
    font-family: var(--ff-rubrik);
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

.btn-checkout:hover {
    background-color: var(--green);
	color: var(--white);	
    box-shadow: 0px 0px 0px 4px #7c8e748d;
}

/* vanlig navugering försvinner och ersätts med hamburger-menu */
@media screen and (max-width: 1300px ) {
    .nav_list{
        display: none;
    }
}
@media screen and (min-width: 1300px ) {
    .hamburgermenu{
        display: none;
    }
}

/* loggan förminskas vid teblet-storlek */
@media screen and (max-width: 770px) {
    .logo{
       width: 120px;
        top: 15px; 
    }
}

/* skärmar mindre än 500px (mobil) */
@media screen and (max-width: 500px) {
    .logo{
       width: 80px;
        top: 15px; 
    }
    header{
        padding: 0 15px;
    }
    .link{
        margin: 0;
    }
}