@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Tenor+Sans:regular);

*,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --sand: #EEEAE7;
    --green: #7C8E74;
    --black: #424242; 
    --white: #ffffff;

    --ff-bodytext: lora;
    --ff-rubrik: tenor sans;

    --fs-stor: 80px;
    --fs-rubrik: 43px;
    --fs-underrubrik:30px;
    --fs-bodytext: 22px; 
    --fs-bodytext-mobile: 18px;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 70px;
    font-family: lora;
}

.heading {
    font-family: var(--ff-rubrik);
    color: var(--black);
    font-size: var(--fs-underrubrik);
    margin-bottom: 30px;
    margin-top: 40px;
    width: 70%;
}

.subheading {
    font-family: var(--ff-rubrik);
    color: var(--black);
    font-size: var(--fs-bodytext);
    margin-top: 40px;
    width: 70%;
}

#form-inputs {
    background-color: var(--sand);
    padding: 60px;
    margin: 0 auto;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
}

/* to ensure autofill wont change colors in form */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

#submitBtn {
    display: block;
    width: 170px;
    margin: 40px auto;
    margin-bottom: 0;
    background-color: var(--green);
    color: white;
    font-family: var(--fs-bodytext);
    font-size: large;
    border-radius: 5px;
}

#submitBtn:hover{
    opacity: 0.8;
}

#error:empty,
#success:empty {
    display: none;
}

#error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

#success {
    background-color: #d4edda;
    color: #155724;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}