#sign-up {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#sign-up-link {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

